<div class="header">
    <h2><i class="fa fa-newspaper-o" aria-hidden="true"></i> News <strong>{{mode}}</strong></h2>
    <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li><a href="/#news">News</a></li>
            <li class="active">{{mode}}</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-content">
                <div class="row">
                    <form class="form-horizontal" ng-submit="submitNews(news_data)">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2">Title</label>
                                <div class="col-sm-9">
                                    <input class="form-control form-white" type="text" ng-model="news_data.title" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2">Subject</label>
                                <div class="col-sm-9">
                                    <input class="form-control form-white" type="text" ng-model="news_data.subject" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2">Description</label>
                                <div class="col-sm-9">
                                    <!-- <summernote height="200" ng-model="news_data.description"></summernote> -->
                                    <textarea ck-editor ng-model="news_data.description"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2">Thumbnail <br><span class="label label-danger">size: 570 x 300 px</span></label>
                                <div class="col-sm-9">
                                    <div ng-controller='newsThumbnailUploadCtrl' nv-file-drop="" uploader="img_uploader" filters="queueLimit, customFilter">
                                        <a ng-if="news_data.thumbnail" ng-href="{{base_news_thumbnail}}{{news_data.thumbnail}}" target="_blank">
                                        <img ng-src="{{base_news_thumbnail}}{{news_data.thumbnail}}" class="img-responsive"></a>
                                        {{news_data.thumbnail}}
                                        <br><br>
                                        <input type="file" class="form-control" nv-file-select="" uploader="img_uploader" accept="image/*" />
                                        <table class="table">
                                            <tbody>
                                            <tr ng-repeat="item in img_uploader.queue">
                                                <td width="20%"><strong>{{ item.file.name }}</strong></td>
                                                <td width="10%" ng-show="img_uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                <td width="30%" ng-show="img_uploader.isHTML5">
                                                    <div class="progress" style="margin-bottom: 0;">
                                                        <div class="progress-bar progress-striped bg-color-greenLight" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                                </td>
                                                <td nowrap>
                                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2">Picture <br><span class="label label-danger"><!-- size 1700px * 600px -->size: 1700 x 1017 px</span></label>
                                <div class="col-sm-9">
                                    <div ng-controller='newsPictureUploadCtrl' nv-file-drop="" uploader="img_uploader" filters="queueLimit, customFilter">
                                        <a ng-if="news_data.picture" ng-href="{{base_news_picture}}{{news_data.picture}}" target="_blank">
                                        <img ng-src="{{base_news_picture}}{{news_data.picture}}" class="img-responsive"></a>
                                        {{news_data.picture}}
                                        <br><br>
                                        <input type="file" class="form-control" nv-file-select="" uploader="img_uploader" accept="image/*" />
                                        <table class="table">
                                            <tbody>
                                            <tr ng-repeat="item in img_uploader.queue">
                                                <td width="20%"><strong>{{ item.file.name }}</strong></td>
                                                <td width="10%" ng-show="img_uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                <td width="30%" ng-show="img_uploader.isHTML5">
                                                    <div class="progress" style="margin-bottom: 0;">
                                                        <div class="progress-bar progress-striped bg-color-greenLight" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                                </td>
                                                <td nowrap>
                                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2">Tags</label>
                                <div class="col-sm-9">
                                    <div>
                                        <input class="select-tagss form-control form-white" ng-model="news_data.tag">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2">Created Date Time</label>
                                <div class="col-sm-4 prepend-icon">
                                    <input type="text" id="create_datetime" name="datetimepicker" class="datetimepicker form-control form-white" ng-model="news_data.create_datetime">
                                    <i class="icon-calendar"></i>
                                </div>
                            </div>

                            <!-- <div class="form-group">
                                <label class="col-sm-2">Group News</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="news_data.news_groups_id" ng-options="news_groups.id as news_groups.title for news_groups in news_groups track by news_groups.id" >
                                        <option value="">-- Select Group News --</option>
                                    </select>
                                </div>
                            </div> -->

                            <div class="form-group">
                                <label class="col-sm-2">Group News</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="news_data.news_groups_id" ng-options="new_group.id as new_group.title for new_group in news_groups track by new_group.id" >
                                        <option value="">-- Select Group News --</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2">Status</label>
                                <div class="col-sm-9">
                                    <div class="onoffswitch2">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="statusOnOffSwitch{{news_data.id}}" ng-click="toggleStatus(news_data)" ng-checked="news_data.status==1">
                                        <label class="onoffswitch-label" for="statusOnOffSwitch{{news_data.id}}">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2"></label>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-embossed btn-success">Save</button>
                                    <a href="#news" class="btn btn-embossed btn-default">Cancel</a>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




