<style>
.btn.btn-lg {
    font-size: 16px;
    padding: 40px 20px;
}
.btn-info  {
    background: #319db5;
    background-color: #319db5;
    color: #fff;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active {
    background: #267a8d;
    background-color: #267a8d;
}
.btn-info.active {
    background: #267a8d;
    border-color: #267a8d;
}
.pr-3{
    padding-right: 5px;
}
</style>
<div class="row">
    <div class="col-md-12">
        <h1 class="w-500 f-24"><i class="glyphicon glyphicon-th"></i> MENU</h1>
    </div>

    <div class="container">
        <div class="col-sm-6 col-md-3">
            <a class="btn btn-info btn-block btn-lg active" href="#/"><i class="fa fa-home pr-3" aria-hidden="true"></i> Dashboard</a>
        </div>

        <div class="col-sm-6 col-md-3">
            <a class="btn btn-info btn-block btn-lg" href="#admins"><i class="fa fa-users pr-3" aria-hidden="true"></i> Administrator</a>
        </div>
        
        <div class="col-sm-6 col-md-3">
            <a class="btn btn-info btn-block btn-lg" href="#configuration"><i class="fa fa-wrench pr-3" aria-hidden="true"></i> Configuration</a>
        </div>
        
        <div class="col-sm-6 col-md-3">
            <a class="btn btn-info btn-block btn-lg" href="#news"><i class="fa fa-newspaper-o pr-3" aria-hidden="true"></i> News</a>
        </div>
        
        <div class="col-sm-6 col-md-3">
            <a class="btn btn-info btn-block btn-lg" href="#news_groups"><i class="fa fa-newspaper-o pr-3" aria-hidden="true"></i> News Groups</a>
        </div>

        <div class="col-sm-6 col-md-3">
            <a class="btn btn-info btn-block btn-lg" href="#presentations"><i class="fa fa-newspaper-o pr-3" aria-hidden="true"></i> Presentations</a>
        </div>

        <div class="col-sm-6 col-md-3">
            <a class="btn btn-info btn-block btn-lg" href="#event_banners"><i class="fa fa-newspaper-o pr-3" aria-hidden="true"></i> Event Banners</a>
        </div>
    </div>

</div>